body{
    background-color: black;
    color: white;
}
h1{
    font-size: 50px;
    text-align: center;
    
}
a{
    color: orange;
    text-decoration: none;
}
nav{
    text-align: center;
}
p{
    padding-left: 15px;
}
h2{
    font-size: 30px;
    padding-left: 10px;
}
.mainpageWW{
    text-align: center;
    padding: 10px;
}
a:hover{
    color: white;
}